//NET "A<0>" LOC = "N17" | IOSTANDARD = LVCMOS33 ;
NET "clock" LOC = "C9" | IOSTANDARD = LVCMOS33 ;
NET "inp0" LOC = "L14" | IOSTANDARD = LVTTL | PULLDOWN ;
NET "inp1" LOC = "L13" | IOSTANDARD = LVTTL | PULLDOWN ;
NET "reset" LOC = "K17" | IOSTANDARD = LVCMOS33 | PULLDOWN ;
//NET "Sum<1>" LOC = "E12" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
//NET "Sum<0>" LOC = "F12" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "out" LOC = "C11" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;